#app {
    font-family: "Gloria Hallelujah";
    margin-left: 30vw;
    margin-top: 30vh;
    height: 100vh;
    width: 100vh;
}

.course-star {
    height: 80px;
    width: 80px;
    padding: 10px;
    animation: star-spin infinite 2s alternate;
}

@keyframes star-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(60deg);
    }
  }

#profile-component {
  background-image: url("https://i.pinimg.com/originals/44/ab/8d/44ab8d1fcb53b77f108b229d918a9de9.png");
  text-align: center;
  font-size: 25px;
  height: 100vh;
}

/* LOGIN PAGE */

#login-component {
  padding-top: 80px;
  background-color:  #66fdc1;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(https://ksr-ugc.imgix.net/assets/012/426/478/77600e294f311cfbb682bd2086d64f69_original.jpg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1463760619&auto=format&frame=1&q=92&s=bd4bb0f6819f5393bab4ef27979fa4e8);
}

#signup {
  text-align: center;
}

.signupLabel {
  font-size: 1.5em;
  font-weight: 200;
}

#logout-component {
  background-color:  #66fdc1;
  text-align: center;
  display: flex;
  height: 100vh;

 align-self: center;
  width: 50%;
  /* border: solid red; */
  background-color: skyblue; opacity: 0.85;
  border-radius: 0px 0px 40px 40px;
}

#login {
  align-self: center;
  align-items: center;
  width: 50%;
  background-color: skyblue; opacity: 0.85;
  border-radius: 40px;
  /* justify-content: right; */
  /* border-style: dashed; opacity: 0.85; */
}

.input {
  /* background-color: tan; */
    /* opacity: .85; */
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: dodgerblue;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

#login-component h2 {
  /* background-color: tan; opacity: .75; */
  border-radius: 10px;
  margin: 5px;
}

.answer-question-container{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}

.lesson-template {
  width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://img.freepik.com/premium-vector/beautiful-sunrise-illustration_167947-62.jpg?w=2000);
}

.answers{
  display: flex;
  justify-content: space-between;
  gap: 200px;
  /* padding: 100px; */
  padding-bottom: 140px;
  padding-left: 100px;
  padding-right: 100px;
}

.question{
  text-align: center;
  align-content: center;
  font-size: 6em;
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FFEEAD;
  opacity: 75%;
  border-radius: 20px;
}

.answer-choice{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  background-color: #FFAD60;
  font-size: 2.5rem;
  border-radius: 15px;
  cursor:pointer;
}

.answer-choice:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  background-color: #fcb97a;
  font-size: 3.1rem;
  border-radius: 15px;
  cursor:pointer;
}

#profile-greeting {
  margin-top: 5vh;
  background-color: #FFEEAD;
  width: 50%;
  height: 40%;
  padding: 10px;
}

#students-card {
  margin-top: 10vh;
  margin-left: 5vh;
  background-color: white;
  border-style: solid;
  border-width: thick;
  position: absolute;
}


#progress-list {
  background-color: #D9534F;
  width: 50%;
  height: 40%;
  position: relative;
  margin-top: 1vh;
  margin-left: 44vh;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-radius: 20px;
}

.student-pic {
  height: 13vh;
  width: 13vh;
  padding: 10px;
  animation: student-spin infinite 3s alternate;
  
}

@keyframes student-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(10deg);
  }
}

#user-pic {
  height:20vh;
  width: 20vh;
  border-style: solid;
  border-width: medium;
  border-radius: 25px;
  background-color: white;
}

#profile-name-and-pic {
  margin-top: 10vh;
  margin-left:3vh;
  position:absolute;
  border-style: solid;
  border-width: thick;
  border-radius: 25px;
  padding: 15px;
  background-color: #FFAD60;
}

#magic-items {
  background-color: white;
  margin-top: 50vh;
  margin-left: 48vh;
  width: 80vh;
  border-style: solid;
  border-width: thick;
  border-radius: 25px;
}