

/* NAVBAR */


.navbar-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding-right: 100px;
    gap: 3%;
    background-color: var(--color-navbar);  
    height:50px;
    align-items: center;
    max-width: auto;
}

.nav-btn a{

    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    color: var(--color-primary)
}

.nav-btn{
    animation: slideInFromLeft 1s ease-in;
}

/* Screens */

.home-page{
    width: auto;
    height: 100vh;
    background-image: var(--background-image-1);
}

.coures-page{
    width: auto;
    height: 100vh;
    background-image: var(--background-image-1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}



.category-container {
    width: calc(140px * 4);
    height: calc(140px * 4);
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:var(--color-white);
    gap: 45px;
}


.category-container a{
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    color: var(--color-white);

}

.category {
    width: 250px;
    height: 250px;
    background-color: var(--color-orange);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
    animation: flash 1s;
}

@keyframes flash {
 0% {background-color: inherit;}
 100% {background-color: var(--color-orange);}

}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-1000%);
    }
    100% {
        transform: translateX(0);
    }
}


/* MAPS SCREEN */
.mapp-screen{
    width: auto;
    height: auto;
    background-image: var(--background-image-1);

}

.mapp-screen-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}

.islands{
    width: 30%;
    height: 55vh;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    cursor: pointer;
}



.island1{
    
    margin: auto 0 auto 0;

}
.island2{

    margin: 5% 0 auto 0;
}
.island3{
    
    margin: 15% 0 5% 0;
}


.level{
    max-width: 70px;
    height: 70px;
    background-color: inherit;
    border-radius: 50px;
    align-self:auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
    margin: 0 0 0 25px;
    font-size: 2rem;
    color: var(--color-white);
    text-align: center;
    background-color: rgba(101, 90, 70, 0.962);
}
.level:hover{
    transform: scale(1.03);
    transition-duration: 0.2s;

}


.level1 {

    grid-column: 1;
    grid-row: 3;
}
.level2 {

    grid-column: 3;
    grid-row: 3;
}
.level3 {
    
    grid-column: 2;
    grid-row: 2;
}

.bg-image {
    background-image: url('https://i.pinimg.com/originals/44/96/58/449658c9cb24e0688af686a341595a64.jpg');
    background-size: cover;
    background-position: center;
}
.bg-image2 {
    background-image: url('https://i.pinimg.com/564x/77/3d/27/773d27244742b98be65fbba249178d90.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.bg-image3 {
    background-image: url('https://i.pinimg.com/564x/8d/a1/a9/8da1a907eab3ab90c55250894364d4b3.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}


/*test*/
/*

.page-test {
    width: auto;
    height: 100vh;
    background-image: var(--background-image-1);
    display: flex;
    justify-content: center;
}

.grid-container{
  max-height: 800px;
  max-width: 800px;
}

.grid-test {

    display: grid;
    grid-gap: 5%;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-template-rows: repeat(4, 200px);
    padding: 0 100px;  
}

.grid-test a{
  
    background-color: var(--color-orange);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    max-width: 300px;
    min-width: 300px;
}*/